
<h2>Контакты</h2>
<br />
<br />
<h4>Если у вас есть вопросы по работе сервисе или предложения по улучшению его работы, вы всегда можете связаться с нами любым удобным вам спобом </h4>
<div style=" position:absolute; left:1300px">
    <img src="~/css/contact.png" style=" width:300px" />
</div>
<div>
    <br />
    <br />
    <div style="position: relative; top: 5px; width: 500px; border: 2px solid grey; border-radius: 10px; background-color: #c0cccc">

        <h5 style="text-indent: 30px">  Мы доступны в следующих каналах связи:</h5>
        <br />
        <p style="text-indent: 30px"><b>  Телефон:</b>+7-922-121-24-31</p>
        <br />
        <p style="text-indent: 30px">
            <a href="mailto:s.zubakov@skbkontur.ru?subject=Вопрос по HTML">  Напишите нам на почту </a>
        </p>
        <br />
        <p style="text-indent: 30px">  Так же можете написать нам в мессенджерах</p>
    </div>
    </div>
