@model FastReport.Web.WebReport
@{ ViewData["Title"] = "Результат расчетов"; }

@using (Html.BeginForm("GetFile", "Home", FormMethod.Post))
{
<button type="submit" style="font-size: 16px" class="btn btn-primary">Скачать в pdf</button>
}
<div class="container" style="text-align: center">
    @await Model.Render()
</div>

